<!-- Navbar -->
<nav  class="navbar controlFixed navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="/landing/personal" >
      <i class="fab fa-angellist"></i>
      <strong>     CIDENET S.A.S</strong>
      <p>     Control De Empleados</p>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto " >

        <li class="nav-item m-3" routerLinkActive="active">
          <a class="nav-link" routerLink="/landing/consulta" data-toggle="collapse" data-target="#navbarSupportedContent">CONSULTA
          </a>
        </li>
        <li class="nav-item m-3" routerLinkActive="active">
          <a class="nav-link" routerLink="/landing/edicion" data-toggle="collapse" data-target="#navbarSupportedContent">EDICION
          </a>
        </li>
        <li class="nav-item m-3" routerLinkActive="active">
          <a class="nav-link" routerLink="/landing/registro" data-toggle="collapse" data-target="#navbarSupportedContent">REGISTRO</a>
        </li>

      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.facebook.com/Cidenet" class="nav-link" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/Cidenet" class="nav-link" target="_blank" >
            <i class="fab fa-twitter"></i>
          </a>
        </li>

      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->
